/* Lobyy css */
.lobbyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: white;
  padding: 2rem;
  text-align: center;
  padding-top: 100px;
}

.lobbyHeading {
  font-size: 2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 2rem;
}

.lobbyInput {
  width: 300px;
  border: 2px solid red;
}

.lobbyButton {
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.lobbyButton:hover {
  background-color: #1565c0;
}

.lobbyVideo {
  margin-top: 2rem;
  border: 2px solid white;
  border-radius: 10px;
  width: 450px;
  height: 300px;
  object-fit: cover;
}

/* VideoMeet css */

.meetVideoContainer {
    position: relative;
    min-height: 100vh;
    background: rgb(1, 4, 48);
}

.meetUserVideo {
  position: absolute;
  top: 1rem;
  width: 34.7rem;
  height: 26rem;
  left: 26rem;
  background: #000;
  /* border: 2px solid tan; */
}

.buttonContainers {
    /* border: 2px solid teal; */
    z-index: 10;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 7rem;
  padding-top: 30rem;
}

.conferenceView video {
  object-fit: cover;
  width: 35rem;
  height: 30rem;
  background: #000;
}

.myCameraOff {
  position: absolute;
  transform: translate(1100%, 300%);
  color: white;
}

.chatRoom {
  /* border: 2px solid red; */
  z-index: 100;
    position: fixed;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 28vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    overflow-y: auto;
  /* border: 2px solid red; */
    height: 81%;
}


.chattingArea {
    position: fixed;
    justify-content: center;
    align-items: center;
  /* border: 2px solid red; */
    bottom: 5rem;
}

/* mobile size */
@media(max-width: 600px) {
  .lobbyVideo {
    margin-top: 2rem;
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .meetUserVideo {
    top: 20px;
    left: 25px;
    width: 20rem;
    height: 15rem;
    border-radius: 0px;
  }

  .chatRoom {
  /* border: 2px solid red; */
    position: fixed;
    height: 50vh;
    bottom: 9%;
    background: white;
    border-radius: 10px;
    width: 50%;
    padding-inline: 10px;
}

.chatContainer {
    position: relative;
    overflow-y: auto;
  /* border: 2px solid red; */
    height: 69%;
}

.chatContainer h1 {
  font-size: 1.5rem;
}


.chattingArea {
  display: flex;
  flex-direction: column;
  bottom: 3.5rem;
  gap: 8px;
  padding: 8px;
  align-items: center;
}

.chattingArea input {
  width: 60%; /* or 100px, as per your need */
  
}

.chattingArea button {
  width: auto;
  min-width: 60px;
  padding: 4px 8px;
  font-size: 0.75rem;
}


  .buttonContainers svg {
    font-size: 2.5rem;
  }

  .conferenceView {
    display: flex;
    /* flex-wrap: nowrap; */
    gap: 10px;
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    padding-left: 22px;
    padding-top: 17rem;
  }

  .conferenceView video {
    /* border: 2px solid red; */
    width: 321px;
    height: 243px;
    background: #000;
  }

  .myCameraOff {
    position: absolute;
    transform: translate(260%, 160%);
    color: white;
  }
}